<header class="w3-cell-row general">

  <div>

    <span class="w3-padding"><img [src]="logoPath" width="170px" /></span>



      <div class="w3-cell w3-cell-middle" class="center">

        <span class="w3-padding" ><a routerLink="/home" routerLinkActive="gras">Accueil&nbsp;&nbsp;&nbsp;</a></span>

        <span class="w3-padding"><a routerLink="/films" routerLinkActive="gras">Films&nbsp;&nbsp;&nbsp;</a></span>

        <span class="w3-padding"><a routerLink="/perso" routerLinkActive="gras">Personnages&nbsp;&nbsp;&nbsp;</a></span>

        <span class="w3-padding"><a routerLink="/planete" routerLinkActive="gras">Planètes&nbsp;&nbsp;&nbsp;</a></span>

        <span class="w3-padding"><a routerLink="/vaisseaux" routerLinkActive="gras">Vaisseaux_Vehicules&nbsp;&nbsp;&nbsp;</a></span>

        <span class="w3-padding" ><a routerLink="/especes" routerLinkActive="gras">Espèces&nbsp;&nbsp;&nbsp;</a></span>

        <span class="w3-padding"><a routerLink="/about" routerLinkActive="gras">About&nbsp;&nbsp;&nbsp;</a></span>


    </div>

  </div>



</header>
