<p>films works!</p>
<span class="w3-padding"><img [src]="ep1" width="170px" /></span>
<br>
<span class="w3-padding"><img [src]="ep2" width="170px" /></span>
<br>
<span class="w3-padding"><img [src]="ep3" width="170px" /></span>
<br>
<span class="w3-padding"><img [src]="ep4" width="170px" /></span>
<br>
<span class="w3-padding"><img [src]="ep5" width="170px" /></span>
<br>
<span class="w3-padding"><img [src]="ep6" width="170px" /></span>
<br>
<span class="w3-padding"><img [src]="ep7" width="170px" /></span>
<br>
<span class="w3-padding"><img [src]="ep8" width="170px" /></span>
<br>
<span class="w3-padding"><img [src]="ep9" width="170px" /></span>
